* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h1, button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style: none;
}

header {
    background: url(./assets/bg-hero-mobile.svg) no-repeat center/cover;
    background-color: hsl(193, 100%, 96%);
    padding: 30px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 120px;
    height: 18px;
}

.btn {
    padding: 6px 24px;
    font-size: 12px;
    background-color: #ffffff;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
    cursor: pointer;
}

.build-sec {
    flex-direction: column;
    text-align: center;
}

.build h1 {
    font-size: 26px;
    font-weight: 600;
    margin: 60px 10px 20px;
}

.build p {
    color: hsl(208, 11%, 55%);
    font-size: 16px;
    line-height: 150%;
    margin: 0 24px 30px;
}

.build button {
    background-color: hsl(322, 100%, 66%);
    color: #ffffff;
    padding: 14px 60px;
    margin-bottom: 30px;
}

.illus {
    width: 90%;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 40px 60px;
}

.service {
    flex-direction: column;
}

.service {
    padding: 40px 30px 40px;
    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
    margin-bottom: 40px;
    border-radius: 10px;
}

.service img {
    max-width: 90%;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.service h2 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.service p {
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: hsl(208, 11%, 55%);
    line-height: 140%;
    margin-bottom: 20px;
}

.service-1,
.service-3 {
    display: flex;
    flex-direction: column-reverse;
}

.promo {
    position: relative;
    max-width: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #ffffff;
    padding: 40px 20px;
    box-shadow: 0 3px 16px rgba(0,0,0,0.12);
    border-radius: 10px;
    margin-bottom: -20%;
}

.promo h1 {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

.btn2 {
    margin-top: 12px;
    padding: 12px 20px;
    border-radius: 50px;
    background-color: hsl(322, 100%, 66%);
    color: #ffffff;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: hsl(192, 100%, 9%);
    color: #ffffff;
    padding: 150px 30px 30px;
}

.footer-logo {
    width: 160px;
}

.footer-sec {
    margin: 30px 0px;
}

.sec-1 {
    width: 100%;
}

.add {
    display: flex;
    align-items: flex-start;
}

.add p {
    font-size: 16px;
}

.add img {
    margin-top: 4px;
    margin-right: 20px;
    margin-bottom: 20px;
}

li {
   margin-bottom: 20px; 
   opacity: 0.9;
   font-size: 16px;
}

.social {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}

a {
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    padding: 5px;
}

.social li {
    padding: 1px 6px;
}

.copy {
    text-align: center;
    font-size: 14px;
}

@media (min-width: 768px) {
    nav img {
        width: 140px;
        height: 20px;
    }

    nav .btn {
        padding: 10px 30px;
    }

    .build h1 {
        font-size: 30px;
    }

    .build p {
        font-size: 18px;
    }

   .illus {
       max-width: 80%;
       margin: 0 auto;
   }

   .services {
        padding: 60px 160px;
   }

   .service img {
        width: 70%;
        height: 220px;
   }

   footer {
        padding: 180px 60px 20px;
   }

   .promo {
        margin-bottom: -10%;
   }

}

@media (min-width: 1024px) {
    nav img {
        width: 200px;
        height: 30px;
    }

    nav .btn {
        padding: 14px 60px;
    }

    .build h1 {
        margin-top: 80px;
        font-size: 38px;
    }

    .build p {
        margin: 0 40px 40px;
        font-size: 23px;
    }

    .build .btn {
        padding: 20px 100px;
    }

    .illus {
        max-width: 75%;
    }

    .service img {
        max-width: 60%;
        height: 270px;
    }

    .service h2 {
        margin-top: 40px;
        font-size: 30px;
    }

    .service p {
        font-size: 20px;
        margin-bottom: 40px;
    }
}

@media (min-width: 1440px) {
    header {
        background: url(./assets/bg-hero-desktop.svg);
        background-color: hsl(193, 100%, 96%);
        padding: 40px 60px;
    }
    
    nav img {
        height: 35px;
    }
    
    .btn {
        padding: 15px 70px;
        font-size: 18px;
        cursor: pointer;
    }

    .build-sec {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 60px 0px 20px;
    }
    
    .build {
        width: 45%;
    }
    
    .illus {
        width: 55%;
    }

    .build h1 {
        text-align: start;
        font-size: 42px;
        padding-right: 40px;
        margin: 25px 0;
    }
    
    .build p {
        text-align: start;
        padding-right: 40px;
        margin: 25px 0px;
    }
    
    .build button {
        display: flex;
        padding: 15px 70px;
    } 

    .services {
        padding: 120px 80px 40px;
    }
    
    .service {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px 10px 50px 65px;
        box-shadow: 0 3px 16px rgba(0,0,0,0.12);
        margin-bottom: 40px;
        border-radius: 10px;
    }
    
    .service img {
        max-width: 100%;
        width: 55%;
        height: 440px;
        padding: 15px 80px 15px 60px;
    }  

    .content h2 {
        text-align: start;
        margin: 10px 0px 20px;
        font-size: 30px;
        padding-right: 20px;
    }
    
    .content p {
        text-align: start;
        width: 93%;
        font-size: 20px;
        padding-right: 20px;
        line-height: 150%;
    }    

    .left {
        padding: 0;
    }
    
    .left p {
        width: 100%;
    }

    .promo {
        max-width: 100%;
        width: 55%;
        padding: 60px 0px;
        margin-bottom: -10%;
    }
    
    .promo h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    
    .btn2 {
        margin-top: 20px;
        padding: 24px 110px;
        cursor: pointer;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 240px 100px 30px;
    }
    
    .footer-logo {
        width: 250px;
    }
    
    .footer-sec {
        display: flex;
        margin: 40px 0px;
    }
    
    .sec-1 {
        min-width: 40%;
        width: 40%;
    }
    
    .add {
        display: flex;
        align-items: flex-start;
    }

    .add p {
        font-size: 18px;
    }
    
    .add img {
        margin-right: 20px;
    }
    
    li {
       margin-bottom: 20px; 
       padding-right: 50px;
       opacity: 0.9;
    }
    
    .sec-2,
    .sec-3,
    .sec-4 {
        width: 20%;
        margin-left: 30px;
    }
    
    .social {
        display: flex;
        padding: 0;
        cursor: pointer;
    }
    
    a {
        width: 45px;
        height: 45px;
        padding: 5px;
    }
    
    
    .copy {
        text-align: right;
    }
}